@font-face {
  font-family: "Knockout";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  src: url("./Knockout-49.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  src: url("./Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  src: url("./RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  src: url("./SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  src: url("./SF-Pro-Text-Regular.otf") format("opentype");
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 500px) {
  div#poll-v2 {
    overflow: hidden !important;
  }

  .widget .header {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px 8px !important;
    position: static !important;
    width: 100% !important;
    left: 24px !important;
    top: 64px !important;
    flex: none !important;
    order: 1 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
    margin: 16px 0px !important;
    background-color: white !important;
    border-bottom: none !important;
  }

  .widget .header h1 {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    left: calc(50% - 598px / 2) !important;
    top: calc(50% - 52px / 2 - 16.5px) !important;
    font-family: "Knockout" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 80% !important;
    text-transform: uppercase !important;
    font-feature-settings: "ss02" on !important;
    color: #000000 !important;
    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
  }

  #question-text {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px 8px !important;
    position: static !important;
    height: 100% !important;
    left: 24px !important;
    top: 182px !important;
    flex: none !important;
    order: 3 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
    margin: 16px 0px !important;
  }

  #poll-v2 .answer-options {
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    justify-content: center !important;
  }

  #poll-v2 .question-container .question-text {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    position: static !important;
    width: 90% !important;
    height: 100% !important;
    left: calc(50% - 219px / 2 - 189.5px) !important;
    top: calc(50% - 19px / 2) !important;
    font-family: "SF Pro Display" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 120% !important;
    color: #000000 !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }

  #poll-v2 .answer-options .has-image {
    padding: 0px !important;
    margin-top: 10px !important;
    width: 100% !important;
  }

  #poll-v2 .question-container .image-wrapper {
    margin: 10px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #poll-v2 .question-container .image-wrapper img {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    height: 160px !important;
    margin-top: 10px !important;
  }

  .answer-options .answer-option-text {
    position: absolute !important;
    top: 4.5% !important;
    left: 35% !important;
    vertical-align: middle !important;
    width: 40% !important;
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    align-items: center !important;
  }

  #poll-v2 .answer-options input[type="radio"] {
    margin-right: 115px !important;
  }
}

@media only screen and (min-width: 500px) {
  .widget .header {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px 8px !important;
    position: static !important;
    width: 614px !important;
    left: 24px !important;
    top: 64px !important;
    flex: none !important;
    order: 1 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
    margin: 16px 0px !important;
    background-color: white !important;
    border-bottom: none !important;
  }

  #poll-v2 > div.header.ct-header-color {
    padding-bottom: 0px !important;
  }

  .widget .header h1 {
    position: static !important;
    width: 598px !important;
    height: auto !important;
    left: calc(50% - 598px / 2) !important;
    top: calc(50% - 52px / 2 - 16.5px) !important;
    font-family: "Knockout" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 80% !important;
    text-transform: uppercase !important;
    font-feature-settings: "ss02" on !important;
    color: #000000 !important;
    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
  }

  #question-text {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px 8px !important;
    position: static !important;
    height: 100% !important;
    left: 24px !important;
    top: 182px !important;
    flex: none !important;
    order: 3 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
    margin: 16px 0px !important;
  }

  #poll-v2 .answer-options {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 530px !important;
    justify-content: left !important;
  }

  .answer-container span {
    display: flex !important;
    justify-content: right !important;
  }

  #poll-v2 .question-container .question-text {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    position: static !important;
    /* width: 219px !important; */
    height: 100% !important;
    width: 95% !important;
    left: calc(50% - 219px / 2 - 189.5px) !important;
    top: calc(50% - 19px / 2) !important;
    font-family: "SF Pro Display" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 120% !important;
    color: #000000 !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
  }

  #poll-v2 .answer-options .has-image {
    width: auto !important;
    padding: 0px !important;
    margin-top: 10px !important;
  }

  #poll-v2 .question-container .image-wrapper {
    margin-top: 10px !important;
    width: 160px !important;
    height: 160px !important;
  }

  #poll-v2 .question-container .image-wrapper img {
    margin-top: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    width: 160px !important;
    height: 160px !important;
    max-width: 160px !important;
    max-height: 160px !important;
  }

  #poll-v2 .answer-options .answer-option-text {
    position: absolute !important;
    top: 5% !important;
    left: 5% !important;
    vertical-align: middle !important;
    /* width: 132px; */
    /* height: 17px; */
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    /* line-height: 120%; */
    /* display: flex; */
    align-items: center !important;
    margin-left: 20px !important;
  }
}

#poll-v2 > div.header.ct-header-color {
  padding-bottom: 0px !important;
}

#poll-v2 .description {
  position: static !important;
  left: 1.3% !important;
  right: 1.3% !important;
  top: 80% !important;
  bottom: 0% !important;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #000000 !important;
  flex: none !important;
  order: 1 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
  margin-left: 16px !important;
}

.widget .container {
  padding: 0px !important;
}

#poll-v2 hr {
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  border: 1px solid #daddde !important;
  margin: 10px !important;
}

.question-container .directions {
  display: none !important;
}

.question-container .image-wrapper {
  vertical-align: text-top !important;
}

.question-type-radio label.answer-option-wrapper {
  margin: 10px 0 !important;
}

.submit-container {
  float: none !important;
  margin-bottom: 39px !important;
}

.submit-container button {
  margin-top: 24px !important;

  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 12px 20px !important;
  gap: 8px !important;

  width: 327px !important;
  height: 48px !important;

  /* web--light/button */

  background: rgba(25, 28, 35, 0.9) !important;
  border-radius: 4px !important;

  font-family: "Roboto Condensed" !important;
  font-style: normal !important;
  font-size: 20px !important;
  line-height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flow-root !important;
}

.question-container input[type="text"] {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 24px !important;
  gap: 24px !important;

  width: 598px !important;
  height: 48px !important;

  /* web--light/canvas */

  background: #f3f4f5 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
}

#survey-v2 .image-enabled .image-wrapper img {
  position: absolute !important;
  top: 75% !important;
}

#survey-v2 .question-container .image-wrapper img {
  margin-top: 30px !important;
}

/* remove this later, just for the demo */

#quiz-v2 .question-container .image-wrapper img {
  margin-top: 30px !important;
}

#poll-v2 .submit-container .points {
  display: none !important;
}

#question-text {
  margin: 0px !important;
  margin-left: 10px !important;
}

#poll-v2
  > div.container
  > form
  > fieldset
  > div.submit-container
  > button:hover {
  background-color: white !important;
  color: black !important;
  opacity: 1 !important;
}

#poll-v2 .submit-container button {
  text-transform: capitalize !important;
}

.ct-series .ct-bar {
  stroke: #1d428a !important;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #000 !important;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 120% !important;
  color: #4e5356 !important;
}
#poll-v2 .success-container .ct-chart {
  border: none !important;
  padding-bottom: 30px !important;
}
#poll-v2 > div.container > div > p.success-message.ng-binding {
  display: none !important;
}
#poll-v2 > div.container > div > p.success-message.ng-scope {
  margin-top: 20px !important;
  margin-left: 16px !important;
}

#poll-v2 .success-message {
  font-family: "SF Pro Display" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
}
#poll-v2 .success-message > span {
  font-size: 16px !important;
}
